model1/result/missclassified/
model1/model/
model1/main/*
!model1/main/all_model_train.py
!model1/main/utils.py
model2/result/missclassified/
model2/model/
model2/main/*
!model2/main/train.py
!model2/main/utils.py